body {
    background-image: url(images/Bubbles.png);
}

.group:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
	}

#header {
    text-align: center;
    font-family: Impact;
}

#contentWrapper {
    /* height: 600px; */
    width: 80%;
}

#tweetBox {
    width: 800px;
    height: 100px;
    border: 2px solid black;
    position: relative;
    left: 275px;
}


#tweetButton {
    position: relative;
    top: -15px;
    left: 30%;
    height: 60px;
    width: 100px;
}

#message {
    position: relative;
    left: 23.4%;
    top: 12px;
    height: 70px;
    width: 400px;
}

#otherUsers {
    position: relative;
    width: 300px;
    height: 600px;
    left: 1000px;
    top: 85px;
    border: 2px solid black;
}


#name {
    position: relative;
    left: 48%;
	top: 200px;
    bottom: -50%;
    width: 300px;
    height: 40px;
    font-family: "Courier New", Georgia, "Times New Roman";
}

#loginButton {
    width: 200px;
    height: 40px;
	position: relative;
    top: 250px;
    left: 24%;
}


#signUpName {
    height: 40px;
    width: 300px;
    position: relative;
    top: 80px;
}

#signUpButton {
    position: relative;
    left: -24%;
    top: 130px;
    width: 200px;
    height: 40px;
}


.hide {
    display: none;
}

h2 {
    position: relative;
    left: 39%;
    top: -90%;
}


#container {
    position: relative;
    top: -98%;
}


#tweets{
    position: relative;
    left: 30%
}

.retweet {
    width: 20px;
    height: 20px;
}


.tweet {
    width: 400px;
    height: 50px;
    text-align: center;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    position: relative;
    top: 40px;
    left: 43%;
    margin-top: 10px;
}

.tweet:hover {
    transition: background-color ease-in 2s;
    background-color: #0096B2;
    transition: color linear 2s;
    color: white;
}

.images {
    width: 40px;
    height: 40px;
}